svg > circle:nth-of-type(1),
svg > circle:nth-of-type(2) {
    fill: #5f5f5f;
}

svg > path:nth-of-type(1),
svg > path:nth-of-type(2) {
    stroke: #5f5f5f;
    stroke-width: 8px;
}

svg > circle.small {
    fill: white;
}

g.contained:nth-of-type(1) circle {
    fill: #573d29;
}

svg > rect {
    opacity: 0;
}

g.contained:nth-of-type(2) circle,
g.contained:nth-of-type(2) rect {
    fill: #c0c0c0;
    stroke: none;
    opacity: 1;
}

#interactive {
    fill: #c0c0c0;
    stroke: #bd250d;
    stroke-width: 4px;
}

#interactive:hover {
    fill: #bd250d;
}

svg > path:last-of-type {
    stroke: none;
}
