* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.columns {
  display: flex;
  height: 100%;
}

.column {
  padding: 1em;
}

.col1 {
  flex-basis: 240px;
}

.col2 {
  flex: 1;
  flex-basis: 0;
  background-color: #eee;
}

.col3 {
  flex-basis: 180px;
  flex-grow: 0;
  flex-shrink: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 0 250px;
  background-color: white;
  margin: .5rem;
  border-radius: 10px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.16),
    0 1px 3px rgba(0, 0, 0, 0.23);
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card p {
  padding: .5rem 1rem;
}